<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8"/>
        <link rel="stylesheet" href="css/inner.css"/>
        <title> Saboteur </title>
    </head>
    
    <body id="join">
	<div id="content">
            <h1> Join Game </h1>
            <table>
		<tr> <th> Name   </th> <th> Date    </th> <th> Max Players    </th> <th> Players   </th> <th> </th> </tr>
                    <% for (i = 0; i < game.length; i++) { 
                        var n = 0;
                        while (n < playersInGame.length) {
                            if (playersInGame[n].id_game === game[i].id && playersInGame[n].id_player !== status) { 
                                if (game[i].active ) { %>				
                <tr> <td> <%=game[i].name %> </td> <td> <%=game[i].creationdate%> </td> <td> 1/<%=game[i].max_players%> </td>
		<td> <%=playersInGame[n].id_player%> </td> <td> <a href="/join?id_game=<%=game[i].id%>&id_player=<%=status%>">Join</a></td></tr>
						<%} 
						}
						n++;
					}
                                    if (n === i) {
                                if (game[i].active ) { %>				
			<tr> <td><%=game[i].name %> </td> <td> <%=game[i].creationdate%> </td> <td> 1/<%=game[i].max_players%> </td>
			<td>No Players</td>
			<td><a href="/join?id_game=<%=game[i].id%>&id_player=<%=status%>">Join</a></td></tr>
			<%} 
					}
				} %>
            </table>
		</div>
    </body>
</html>